[submodule "ECE872_work"]
	path = ECE872_work
	url = https://github.com/msattir/ECE872_work.git
[submodule "UnsupervisedLearning"]
	path = UnsupervisedLearning
	url = https://github.com/msattir/UnsupervisedLearning.git
